@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e5e5cb;
}

@media (max-width: 768px) {
  body {
    height: auto;
    overflow: scroll;
  }
}

@keyframes bounceSlow {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounce-slow {
  animation: bounceSlow 3s linear infinite;
}
